@page
@using System.Linq    
@model miniProjet1.Pages.TauxAbsEModel
@{
    var XLabels = Newtonsoft.Json.JsonConvert.SerializeObject( Model.Presence.Select( x => x.etat ).ToList() );  
    var YValues = Newtonsoft.Json.JsonConvert.SerializeObject( Model.Presence.Select( x => x.nbr ).ToList() );  
   
}
<br/><br/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>    
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<h1>Taux d'Absence</h1>
<hr/>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
        <!--LEFT SIDE--------------------------------------->
<div class="card" style="width: 15rem;">
  <ul class="list-group list-group-flush">
    <a href="ListePr" class="list-group-item list-group-item-action ">Liste de Presence</a>
    <a href="ListeAbs" class="list-group-item list-group-item-action ">Liste d'Absence</a>
     <a href="TauxAbs" class="list-group-item list-group-item-action ">Taux d'Absence par Matiere</a>
     <a href="TauxAbsE" class="list-group-item list-group-item-action active">Taux d'Absence par Etudiant</a>


  </ul>
</div>
    </div>
    <div class="col-sm-9">
        <!--RIGHT SIDE--------------------------------------->
        <div  class="col-4">

        <form method="POST">
          <div >
         <select  class = "form-control" asp-for="@Model.Fid"  onchange="this.form.submit()">
             <option value="0" selected disabled >Filieres</option>
                    @foreach (var item in @Model.FL)
                    {
                        <option value="@item.id_fil">@item.nom</option>
                    }
                </select></div><div>
                <select  class = "form-control" asp-for="@Model.Eid" onchange="this.form.submit()">
             <option value="0" selected disabled >Etudiants</option>
                    @foreach (var item in @Model.EL.Where(n=>n.filiereID==@Model.Fid))
                    {
                    
                              <option value="@item.id_etu">@item.nom @item.nom</option>
                    
                        
                    }
                </select></div>
                <div class = "form-control">
                   Nombre d'Absence : @Model.Presence.Where(n=>n.etat=="Absent").FirstOrDefault().nbr
                </div>
                </form>
        </div>


<div  class="col-10">

<div class="box-body">  
  
        <div class="chart-container">  
            <canvas id="chart" style="width:100%; height:500px"></canvas>  
        </div>  
    </div>  
</div>
    </div>
  </div>
  <script type="text/javascript">  
        $(function () {  
    var chartName = "chart";  
        var ctx = document.getElementById(chartName).getContext('2d');  
        var data = {  
                labels: @Html.Raw(XLabels),  
                datasets: [{  
                    label: "Presence Chart",  
                    backgroundColor: [  
                        'rgba(255, 99, 132, 0.2)',  
                        'rgba(54, 162, 235, 0.2)',  
                        'rgba(255, 206, 86, 0.2)',  
                        'rgba(75, 192, 192, 0.2)',  
                        'rgba(153, 102, 255, 0.2)',  
                        'rgba(255, 159, 64, 0.2)',  
                        'rgba(255, 0, 0)',  
                        'rgba(0, 255, 0)',  
                        'rgba(0, 0, 255)',  
                        'rgba(192, 192, 192)',  
                        'rgba(255, 255, 0)',  
                        'rgba(255, 0, 255)'  
                    ],  
                    borderColor: [  
                        'rgba(255,99,132,1)',  
                        'rgba(54, 162, 235, 1)',  
                        'rgba(255, 206, 86, 1)',  
                        'rgba(75, 192, 192, 1)',  
                        'rgba(153, 102, 255, 1)',  
                        'rgba(255, 159, 64, 1)',  
                        'rgba(255, 0, 0)',  
                        'rgba(0, 255, 0)',  
                        'rgba(0, 0, 255)',  
                        'rgba(192, 192, 192)',  
                        'rgba(255, 255, 0)',  
                        'rgba(255, 0, 255)'  
                    ],  
                    borderWidth: 1,  
                    data: @Html.Raw(YValues)  
    }]  
            };  
  
var options = { 
    responsive: true,
    legend: {
      position: 'left',
    },
    title: {
      display: true,
      text: '                                 Taux d\'Absence par Etudiant'
    },
    animation: {
      animateScale: true,
      animateRotate: true
    },
    tooltips: {
      callbacks: {
        label: function(tooltipItem, data) {
        	var dataset = data.datasets[tooltipItem.datasetIndex];
          var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
            return previousValue + currentValue;
          });
          var currentValue = dataset.data[tooltipItem.index];
          var percentage = Math.floor(((currentValue/total) * 100)+0.5);         
          return percentage + "%";
        }
      }
    }  
            };  

            
  
       var myChart = new  Chart(ctx, {  
                options: options,  
                data: data,  
                type:'pie'  
  
            });  
        });  
</script>  

